body {
	margin: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

form {
	margin: 50px 0;
	width: 360px;
	display: flex;
	flex-direction: column;
}

.formControll {
	margin-bottom: 20px !important;
}

.label {
	margin-bottom: 10px !important;
}

.flex {
	display: flex !important;
	align-items: center !important;
	justify-content: space-between !important;
}

.btn {
	padding: 0 !important;
}

.keywords {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
